<div class="jumbotron intro-header content-section-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="intro-message">
                    <h1><span class="intro-count">Hidden Christmas</span> Winter Reading Challenge</h1>
                    <hr>
                    <p class="lead">
                        Share your thoughts on our reading and let us know what you're up to!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->

<div class="content-section-a">
    <div class="container">
        <h1>Latest posts:</h1>
        <hr>
        <div class="no-post-placeholder">
            <% if @posts.length == 0 %>
                <div></div>
            <% end %>
        </div>
        <div class="row post-preview-grid-row">
            <% @posts.each do |post| %>
                <% random_thumb = image_path("cafe-0#{rand(5) + 1}.jpg") %>
                <%= link_to(sharings_path) do %>
                    <div class="post-preview col-md-4 col-sm-6 col-xs-12">
                        <div class="post-preview-text">
                            <h2 class=""> <%= post.author %></h2>
                            <div>
                                <% if post.sharing_content != nil %>
                                    <p class="lead"><%= post.sharing_content %></p>
                                <% elsif post.life_update != nil %>
                                    <p class="lead"><%= post.life_update %></p>
                                <% end %>
                            </div>
                        </div>
                        <%= image_tag random_thumb, class: "post-preview-media"%>
                        <%# <div class="post-preview-media"> %>
                            <%# if post.video.file? %>
                                <%# <br> %>
                                <%# <%=link_to image_tag(post.video.url(:thumb)), post.video.url(:original), :popup=>['original_image', 'height=700,width=900'] %>	 
                            <%# <% elsif post.avatar.file? %>							 
                                <%# <%=link_to image_tag(post.avatar.url(:original)), post.avatar.url(:original), :popup=>['original_image', 'height=700,width=900'] %>	 
                            <%# <% else %> 
                                <%# <div></div> %>
                            <%# <% end %> 
                        <%# </div>  %>
                    </div>
                <% end %>
            <% end %>
            
            </div>
            <hr>
            <h3><%= link_to "Read more", sharings_path %></h3>
		</div>
	</div>
</div>

