<div class="background-sharings">
</div>

<div class="content-section-a transparent-background">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2>Sharings</h2>
					</div>
					<div class="panel-body">
						
						<h4>
						<% if @posts.length != 0 %>
							Browse through to see what others have been up to during break!
						<% else %>
							No sharings posted yet. Be the first to post!
						<% end %>
						</h4>
					</div>
					<div class="all-comments">
						<div class="pagination">
						<%= will_paginate @posts %>
						</div>
						
						<div> 
						<% @posts.each do |post| %>
							<div class="all-comments">
								<h2 class="comment-name"> <%= post.author %></h2>
								<span class="comment-timestamp"> <%= post.created_at.in_time_zone.to_time.strftime('%B %e at %l:%M %p') %></span>
								<hr>
								<%# <div class="comment-media">
									<% if post.video.file? %>
										<%# Click to see the video: %>
										<%# <br> %>
										<%# <%=link_to image_tag(post.video.url(:thumb)), post.video.url(:original), :popup=>['original_image', 'height=700,width=900'] %>	
									<%# <% elsif post.avatar.file? %>							
										<%# <%=link_to image_tag(post.avatar.url(:original)), post.avatar.url(:original), :popup=>['original_image', 'height=700,width=900'] %>	
									<%# <% else %>
										<%# <div></div> %>
									<%# <% end %>
								<%# </div> %>
								<div class="comment-content">
									<% if post.sharing_content != nil %>
										<%= post.sharing_content %>
									<% end %>
									<hr>
								</div>
								<div class="comment-content">
									<% if post.life_update != nil %>
										<h3>Life Update</h3>
										<%= post.life_update %>
									<% end %>
									<hr>
								</div>
							</div>
							<br>
							<br>
						<% end %>
						
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>