<div class="background-sharings">
</div>

<div class="content-section-transparent content-section-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2>Sharings</h2>
					</div>
					<div class="panel-body">
						<h4>
							<% if @posts.length != 0 %>
								Browse through to see what others have been up to during break!
							<% else %>
								No sharings posted yet. Be the first to post!
							<% end %>
						</h4>

						<div class="pagination">
							<%= will_paginate @posts %>
						</div>
						
						<% @posts.each do |post| %>
							<section>
								<section class="post-attributes">
									<h2 class="post-author"> <%= post.author %></h2>
									<span class="post-timestamp"> <%= post.created_at.in_time_zone.to_time.strftime('%B %e at %l:%M %p') %></span>
									<hr>
								</section>
								<%# <div class="post-media">
									<% if post.video.file? %>
										<%# Click to see the video: %>
										<%# <br> %>
										<%# <%=link_to image_tag(post.video.url(:thumb)), post.video.url(:original), :popup=>['original_image', 'height=700,width=900'] %>	
									<%# <% elsif post.avatar.file? %>							
										<%# <%=link_to image_tag(post.avatar.url(:original)), post.avatar.url(:original), :popup=>['original_image', 'height=700,width=900'] %>	
									<%# <% else %>
										<%# <div></div> %>
									<%# <% end %>
								<%# </div> %>
								<div class="post-content">
									<% if post.sharing_content != nil %>
										<div class="text-body">
											<%= post.sharing_content %>
										</div>
									<% end %>
									<hr>
								</div>
								<div class="post-content">
									<% if post.life_update != nil %>
										<h3>Life Update</h3>
										<div class="text-body">
											<%= post.life_update %>
										</div>
									<% end %>
									<hr>
								</div>
							</section>
							<br>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>