
<div class="content-section-a">
    <div class="container">
        <hr class="section-heading-spacer">

        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2>Share your thoughts</h2>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <%= form_for @post, :html => {role: 'form'} do |f| %>

                    <div class="col-lg-6">
                        <%= render 'shared/error_messages' %>
                        <div class="form-group">
                            <%= f.label :author, "Name (first and last)" %>
                            <%= f.text_field :author, { :class => "form-control"} %>
                        </div>

                        <div class="form-group">
                            <%= f.label :sharing_content, "Sharing" %>
                            <%= f.text_area :sharing_content, { :class => "form-control", rows: "5"} %>
                        </div>

                        <div class="form-group">
                            <%= f.label :life_update, "Life update?" %>
                            <%= f.text_area :life_update, { :class => "form-control", rows: "3"} %>
                        </div>
                    </div>
                

                    <%# <div class="col-lg-6">

                        <div class="form-group">
                            <%= f.label :avatar, "Upload a Picture" %>
                            <%# <%= f.file_field :avatar, { :class => "form-control"} %>
                        <%# </div> %>

                        <%# <div class="form-group"> %>
                            <%# <%= f.label :video, "Upload a Video" %> 
                            <%# <%= f.file_field :video, { :class => "form-control"} %> 
                        <%# </div> %>
                    <%# </div> %> 

                    <%= f.submit "Submit sharing", class: "btn btn-primary btn-lg btn-block" %>
                <% end %>
            </div>
        </div>
    </div>
</div>